.encabezado {
    color: black;
    font-size: 30px;
    padding-top: 1px;
}

.pp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
    background: black;
}

.negro {
    color: black;
}

.thead-black {
    background-color: rgb(0, 0, 0);
    color: white;
}

textarea:focus,
input:focus,
input[type]:focus {
    border-color: rgb(229, 181, 58);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(229, 181, 58, 0.6);
    outline: 0 none;
}